## PROYECTO INDIVIDUAL Nº1

##### 1.  Importar la librería Pandas para incorporar los datasets.

In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

##### 2. Cargar los datasets asignando una variable correspondiente a cada uno.

In [3]:
amazon = pd.read_csv('Datasets/amazon_prime_titles.csv')
disney = pd.read_csv('Datasets/disney_plus_titles.csv')
hulu = pd.read_csv('Datasets/hulu_titles.csv')
netflix = pd.read_json('Datasets/netflix_titles.json')

##### 3. Agregar la columna platform con el proposito de diferenciarlos antes de unir los datasets.

In [4]:
amazon['platform'] = 'amazon'
disney['platform'] = 'disney'
hulu['platform'] = 'hulu'
netflix['platform'] = 'netflix'

##### 4. Unir los datasets y agregar la columna index

In [5]:
stream_df = pd.concat([amazon, disney, hulu, netflix], ignore_index=True)

stream_df.insert(0,'index', stream_df.index)

##### 5. Mostrar la cabecera de la tabla stream para revisar datos

In [6]:
stream_df.head(5)

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon

##### 6. Mostrar ultimos registros del dataframe

In [7]:
stream_df.tail(5)

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
22993,22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix
22994,22994,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix
22995,22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix
22996,22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix
22997,22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix

##### 6. Dividir en dos la columna 'duration' y se renombrar las nuevas columnas.

In [8]:
stream_df = pd.concat([stream_df, stream_df['duration'].str.split(expand=True)], axis=1)

stream_df.rename(columns= {0:'dur_min', 1:'dur_temp'}, inplace=True)

##### 7. Eliminar las columnas innecesarias en las consultas a realizar.

In [9]:
stream_df.drop(['show_id','director','country','date_added','rating','duration','description'], inplace=True, axis=1)

##### 8. Mostrar la información del dataframe

In [10]:
stream_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         22998 non-null  int64
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   cast          17677 non-null  object
 4   release_year  22998 non-null  int64
 5   listed_in     22998 non-null  object
 6   platform      22998 non-null  object
 7   dur_min       22516 non-null  object
 8   dur_temp      22516 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.6+ MB

##### 9. Rellenar los valores NaN.

In [11]:
#   1) En 'minutos' asignar valores '0' y conviertir a 'int'.
stream_df['dur_min'] = stream_df['dur_min'].replace(np.nan, 0)
stream_df = stream_df.astype({'dur_min':'int'})

#   2) En general rellenar con 'sin dato'.
stream_df = stream_df.fillna('sin dato')

In [12]:
stream_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         22998 non-null  int64
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   cast          22998 non-null  object
 4   release_year  22998 non-null  int64
 5   listed_in     22998 non-null  object
 6   platform      22998 non-null  object
 7   dur_min       22998 non-null  int32
 8   dur_temp      22998 non-null  object
dtypes: int32(1), int64(2), object(6)
memory usage: 1.5+ MB

##### 10. Crear los dataframes a importar como tablas en MySQL

In [13]:
cast = stream_df[['index','cast']].copy()
listed_in = stream_df[['index','listed_in']].copy()

In [14]:
stream_df.drop(['cast','listed_in'], inplace=True, axis=1)

In [15]:
stream_df

,index,type,title,release_year,platform,dur_min,dur_temp
0,0,Movie,The Grand Seduction,2014,amazon,113,min
1,1,Movie,Take Care Good Night,2018,amazon,110,min
2,2,Movie,Secrets of Deception,2017,amazon,74,min
3,3,Movie,Pink: Staying True,2014,amazon,69,min
4,4,Movie,Monster Maker,1989,amazon,45,min
...,...,...,...,...,...,...,...
22993,22993,Movie,Zodiac,2007,netflix,158,min
22994,22994,TV Show,Zombie Dumb,2018,netflix,2,Seasons
22995,22995,Movie,Zombieland,2009,netflix,88,min
22996,22996,Movie,Zoom,2006,netflix,88,min
22997,22997,Movie,Zubaan,2015,netflix,111,min

##### Generar la conexión con MySQL

In [16]:
engine = create_engine("mysql+pymysql://root:#soloD1osbasta@localhost/pi_data05")

##### Importar los dataframes como tablas en MySQL

In [17]:
stream_df.to_sql("stream_df",con=engine,index=False,if_exists='append')
cast.to_sql("cast",con=engine,index=False,if_exists='append')
listed_in.to_sql("genre",con=engine,index=False,if_exists='append')

22998